/* ## Archive
---------------------------------------------------------------------------------------------------- */

.archive.full-width-content{
    .site-header.headroom.headroom--not-top.headroom--not-bottom.headroom--pinned,
    .gridcontainer.title-element{
        background-color: shade($color-primary, 40%);
    }
    .content{
        display: grid;
        grid-template-columns: 1fr;
        .entry{
            position: relative;
            .entry-header{
                position: absolute;
            }
            .entry-footer{
                position: absolute;
            }
        }
    }
}

.work-single{
    .site-header.headroom.headroom--not-top.headroom--not-bottom.headroom--pinned,
    .gridcontainer.title-element{
        background-color: shade($color-primary, 40%);
    }
}