/* # Arrays
---------------------------------------------------------------------------------------------------- */

/* ## Breakpoints
---------------------------------------------------------------------- */
$breakpoints: (
    xsmall: $mq-xsmall,     // 600 pixel
    small : $mq-small,   // 890 pixel 
    medium: $mq-medium,       // 1024 pixel
    large : $mq-large,       // 1280 pixel
    xlarge: $mq-xlarge
);

/* ## Responsive typography
---------------------------------------------------------------------- */
// Modular scale: Major Third - https://www.modularscale.com/?1.25&em&1.25

// Array : font-size, line-height, font-weight, color 

/* Default body text */
$g_font-bread: (
    null   : (1.6, 2.6, 300, $color-primary),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    large  : (1.8, 2.9),
    xlarge : (2, 3.2)
);

$g_font-large: (
    null   : (2, 3.2),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    large  : (2.2, 3.2),
    xlarge : (2.6, 3.4)
);

/* Headlines */
$g_font-h1: (
    null   : (4.8, 4.8, 300, $color-primary),
    // xsmall : (4.8, 4.8),
    // small  : (4.8, 4.8),
    // medium : (4.8, 4.8),
    large  : (5.4, 5.4),
    xlarge : (6.1, 6.1)
);
$g_font-h2: (
    null   : (3.9, 3.9, 300, $color-primary),
    // xsmall : (3.9, 3.9),
    // small  : (3.9, 3.9),
    // medium : (3.9, 3.9),
    large  : (4.3, 4.3),
    xlarge : (4.8, 4.8)
);
$g_font-h3: (
    null   : (3.1, 3.1, 300, $color-primary),
    // xsmall : (3.1, 3.1),
    // small  : (3.1, 3.1),
    // medium : (3.1, 3.1),
    large  : (3.5, 3.5),
    xlarge : (3.9, 3.9)
);
$g_font-h4: (
    null   : (2.5, 2.5, 300, $color-primary),
    // xsmall : (2.5, 2.5),
    // small  : (2.5, 2.5),
    // medium : (2.5, 2.5),
    large  : (2.8, 2.8),
    xlarge : (3.1, 3.1)
);
$g_font-h5: (
    null   : (2, 2, 300, $color-primary),
    // xsmall : (2, 2),
    // small  : (2, 2),
    // medium : (2, 2),
    large  : (2.2, 2.2),
    xlarge : (2.5, 2.5)
);
$g_font-h6: (
    null   : (1.6, 1.6, 300, $color-primary),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    large  : (1.8, 2.9),
    xlarge : (2, 3.2)
);

/* Blockqoute */
$g_font-blockquote: (
    null   : (6, 1, 500, $color-primary),
    // xsmall : (6, 1),
    // small  : (6, 1),
    // medium : (6, 1),
    // large  : (6, 1),
    // xlarge : (6, 1)
);

/* Forms
---------------------------------------------------------------------- */

/* Input */
$g_font-input: (
    null   : (1.6, 2.6, 300, $color-primary),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    large  : (1.8, 2.9),
    xlarge : (2, 3.2)
);

/* Placeholder */
$g_font-placeholder: (
    null   : (1.6, 2.6, 300, tint($color-primary, 60%)),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    large  : (1.8, 2.9),
    xlarge : (2, 3.2)
);

/* Label */
$g_font-label: (
    null   : (1.4, 2.3, 500, $color-primary),
    // xsmall : (1.4, 2.3),
    // small  : (1.4, 2.3),
    // medium : (1.4, 2.3),
    large  : (1.6, 2.6),
    xlarge : (1.8, 2.9)
);
$g_font-label-sub: (
    null   : (1.2, 2.0, 400, tint($color-primary, 60%)),
    // xsmall : (1.4, 2.3),
    // small  : (1.4, 2.3),
    // medium : (1.4, 2.3),
    large  : (1.4, 2.3),
    xlarge : (1.6, 2.6)
);

/* Button */
$g_font-button: (
    null   : (1.6, 1.6, 300, $color-white),
    // xsmall : (1.6, 1.6),
    // small  : (1.6, 1.6),
    // medium : (1.6, 1.6),
    large  : (1.8, 1.8),
    xlarge : (2, 2)
);

/* Global Common Classes values
---------------------------------------------------------------------- */

/* Breadcrumbs */
$g_font-breadcrumb: (
    null   : (1.4, 2.3, 300, $color-primary),
    // xsmall : (1.4, 2.3),
    // small  : (1.4, 2.3),
    // medium : (1.4, 2.3),
    large  : (1.6, 2.6),
    xlarge : (1.8, 2.9)
);

/* Author */
$g_font-author: (
    null   : (1.6, 2.6, 300, $color-primary),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    large  : (1.6, 2.6),
    xlarge : (1.8, 2.9)
);

/* Titles
---------------------------------------------------------------------- */

/* Archive title */
// Based on H2
$g_font-archive-title: (
    null   : (3.9, 3.9, 300, $color-primary),
    // xsmall : (3.9, 3.9),
    // small  : (3.9, 3.9),
    // medium : (3.9, 3.9),
    large  : (4.3, 4.3),
    xlarge : (4.8, 4.8)
);

/* Entry title */
// Based on H1
$g_font-entry-title: (
    null   : (4.8, 4.8, 300, $color-primary),
    // xsmall : (4.8, 4.8),
    // small  : (4.8, 4.8),
    // medium : (4.8, 4.8),
    large  : (5.4, 5.4),
    xlarge : (6.1, 6.1)
);

/* Row headline */
// Based on H2
$g_font-row-headline-title: (
    null   : (3.9, 3.9, 300, $color-primary),
    // xsmall : (3.9, 3.9),
    // small  : (3.9, 3.9),
    // medium : (3.9, 3.9),
    large  : (4.3, 4.3),
    xlarge : (4.8, 4.8)
);

/* Widget title */
// Based on H2
$g_font-widget-title: (
    null   : (3.9, 3.9, 300, $color-secondary),
    // xsmall : (3.9, 3.9),
    // small  : (3.9, 3.9),
    // medium : (3.9, 3.9),
    large  : (4.3, 4.3),
    xlarge : (4.8, 4.8)
);

/* Captions */
$g_font-caption: (
    null   : (1.4, 2.3, 300),
    // xsmall : (1.4, 2.3),
    // small  : (1.4, 2.3),
    // medium : (1.4, 2.3),
    large  : (1.6, 2.6),
    xlarge : (1.8, 2.9)
);

/* Global Title Area values */
$g_font-site-title: (
    null   : (3.8, 3.8, 300, $color-primary),
    // xsmall : (3.8, 3.8),
    // small  : (3.8, 3.8),
    // medium : (3.8, 3.8),
    // large  : (3.8, 3.8),
    // xlarge : (3.8, 3.8)
);

/* Global Before Header Font values */
$g_font-before-header: (
    null   : (1, 1, 300),
    // xsmall : (1, 1),
    // small  : (1, 1),
    // medium : (1, 1),
    // large  : (1, 1),
    // xlarge : (1, 1)
);

/* Global Site Navigation values */
$g_font-nav: (
    null   : (1.4, 1.4, 500, $color-white),
    // xsmall : (1.2, 1.2),
    // small  : (1.2, 1.2),
    // medium : (1.2, 1.2),
    // large  : (1.4, 1.4),
    // xlarge : (1.2, 1.2)
);

/* Global Entry Meta values */
$g_font-meta: (
    null   : (1.4, 2.3, 300),
    // xsmall : (1.4, 2.3),
    // small  : (1.4, 2.3),
    // medium : (1.4, 2.3),
    // large  : (1.4, 2.3),
    // xlarge : (1.4, 2.3)
);

/* Global Pagination values */
$g_font-pagination: (
    null   : (1.6, 2.6, 300),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    // large  : (1.6, 2.6),
    // xlarge : (1.8, 2.9)
);

/* Global Comments values */
$g_font-logged-in: (
    null   : (1.4, 2.3, 300),
    // xsmall : (1.4, 2.3),
    // small  : (1.4, 2.3),
    // medium : (1.4, 2.3),
    large  : (1.6, 2.6),
    xlarge : (1.8, 2.9)
);
$g_font-comment-header: (
    null   : (1.6, 2.6, 300),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    large  : (1.8, 2.9),
    xlarge : (2, 3.2)
);

/* Global Footer Widgets values */
$g_font-footer-widgets: (
    null   : (1.6, 2.6, 300),
    // xsmall : (1.6, 2.6),
    // small  : (1.6, 2.6),
    // medium : (1.6, 2.6),
    large  : (1.8, 2.9),
    xlarge : (2, 3.2)
);

/* Global Site Footer values */
$g_font-site-footer: (
    null   : (1, 1.2, 600),
    // xsmall : (1, 1.2),
    // small  : (1, 1.2),
    // medium : (1, 1.2),
    // large  : (1, 1.2),
    // xlarge : (1, 1.2)
);

/* ## Responsive Gridcontainer inside wrap max width
---------------------------------------------------------------------- */

$g_max_width-coll1: (
    null   : (90%),
    xsmall : (480px),
    small  : (600px),
    medium : (920px),
    large  : (860px),
    xlarge : (860px)
);

$g_max_width-narrow: (
    null   : (90%),
    xsmall : (480px),
    small  : (600px),
    medium : (920px),
    large  : (1200px),
    xlarge : (860px)
);

$g_max_width-wide: (
    null   : (90%),
    xsmall : (480px),
    small  : (600px),
    medium : (920px),
    large  : (1200px),
    xlarge : (1400px)
);

$g_max_width-coll2: (
    null   : (90%),
    xsmall : (480px),
    small  : (600px),
    medium : (920px),
    large  : (1200px),
    xlarge : (1400px)
);

$g_max_width-coll3: (
    null   : (90%),
    xsmall : (480px),
    small  : (600px),
    medium : (920px),
    large  : (1200px),
    xlarge : (1400px)
);

$g_max_width-coll4: (
    null   : (90%),
    xsmall : (480px),
    small  : (600px),
    medium : (920px),
    large  : (1200px),
    xlarge : (1400px)
);

/* ## Responsive Gridcontainer top and buttom padding
---------------------------------------------------------------------- */
$g_grid_padding-structure: (
    null   : (60),
    xsmall : (60),
    small  : (60),
    medium : (60),
    large  : (60),
    xlarge : (120)
);
$g_grid_padding-wide: (
    null   : (80),
    xsmall : (80),
    small  : (80),
    medium : (80),
    large  : (100),
    xlarge : (120)
);

/* ## Responsive site margins
---------------------------------------------------------------------- */
$g_site_margin: (
    null   : ($margin-default),
    xsmall : ($margin-xsmall),
    small  : ($margin-small),
    medium : ($margin-medium),
    large  : ($margin-large),
    xlarge : ($margin-xlarge)
);

$g_site_margin_left: (
    null   : ($margin-default),
    xsmall : ($margin-xsmall),
    small  : ($margin-small),
    medium : ($margin-medium),
    large  : ($margin-large),
    xlarge : ($margin-xlarge)
);

$g_site_margin_right: (
    null   : ($margin-default),
    xsmall : ($margin-xsmall),
    small  : ($margin-small),
    medium : ($margin-medium),
    large  : ($margin-large),
    xlarge : ($margin-xlarge)
);

$g_site_margin_top: (
    null   : ($margin-default),
    xsmall : ($margin-xsmall),
    small  : ($margin-small),
    medium : ($margin-medium),
    large  : ($margin-large),
    xlarge : ($margin-xlarge)
);

$g_site_margin_bottom: (
    null   : ($margin-default),
    xsmall : ($margin-xsmall),
    small  : ($margin-small),
    medium : ($margin-medium),
    large  : ($margin-large),
    xlarge : ($margin-xlarge)
);