/* # Common Classes
---------------------------------------------------------------------------------------------------- */

/* ## Avatar
---------------------------------------------------------------------- */

.avatar {
	float: left;
}

.alignleft .avatar,
.author-box .avatar {
	margin-right: 20px;
}

.alignright .avatar {
	margin-left: 20px;
}

.comment .avatar {
	margin: 0 16px 24px 0;
}

/* ## Genesis
---------------------------------------------------------------------- */

.breadcrumb {
	display: block;
	float: left;
	width: 100%;
	background-color: $color-white;
	margin-bottom: 20px;
	@include font-values($g_font-breadcrumb);
	[class^="icon-"]{
		position: relative;
		top: 5px;
	}
}
.breadcrumb .wrap{
	width: 90%;
}

.archive-description{
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 100%;
	max-width: 100%;
	padding: 0 5% 20px 5%;
	color: $color-white;
	background-color: shade($color-primary, 40%);
	
	.archive-title{
		color: $color-white;
		margin-bottom: 0;
		margin-left: 20px;
		-webkit-animation: slide .6s linear both;
		-moz-animation: slide .6s linear both;
		-o-animation: slide .6s linear both;
		-ms-animation: slide .6s linear both;
		animation: slide .6s linear both;
	}
	p{
		margin-left: 20px;
		-webkit-animation: fadeIn 1s 1.4s linear both;
		-moz-animation: fadeIn 1s 1.4s linear both;
		-o-animation: fadeIn 1s 1.4s linear both;
		-ms-animation: fadeIn 1s 1.4s linear both;
		animation: fadeIn 1s 1.4s linear both;
	}
}
.author-box {
	margin: 0 auto 30px auto;
	width: 90%;
	@include font-values($g_font-bread);
}

.author-box-title {
	@include font-values($g_font-author);
	margin-bottom: 5px;
}

.archive-description p:last-child,
.author-box p:last-child {
	margin-bottom: 0;
}


/* ## Titles
---------------------------------------------------------------------- */

.archive-title {
	@include font-values($g_font-archive-title);
	margin-bottom:20px;
}

.entry-title {
	@include font-values($g_font-entry-title);
	margin-bottom:20px;
}

.entry-title a,
.sidebar .widget-title a {
	color: $color-primary;
	text-decoration:none;
}

.entry-title a:hover,
.entry-title a:focus {
	color: tint($color-primary, 20%);
}

.widget-title {
	@include font-values($g_font-widget-title);
}

/* ## WordPress
---------------------------------------------------------------------- */

a.aligncenter img {
	display: block;
	margin: 0 auto;
}

a.alignnone {
	display: inline-block;
}

.alignleft {
	float: left;
	text-align: left;
}

.alignright {
	float: right;
	text-align: right;
}

a.alignleft,
a.alignnone,
a.alignright {
	max-width: 100%;
}

img.centered,
.aligncenter {
	display: block;
	margin: 0 auto;
}

img.alignnone,
.alignnone {
	margin-bottom: 0;
}

a.alignleft,
img.alignleft,
.wp-caption.alignleft {
	margin: 0 24px 0px 0;
}

a.alignright,
img.alignright,
.wp-caption.alignright {
	margin: 0 0 0px 24px;
}

.wp-caption-text {
	margin-top:5px;
	@include font-values($g_font-caption);
}

.entry-content p.wp-caption-text {
	margin-bottom: 0;
}

.entry-content .wp-audio-shortcode,
.entry-content .wp-playlist,
.entry-content .wp-video {
	margin: 0 0 28px;
}