/* # Content Area
---------------------------------------------------------------------------------------------------- */

/* ## Entries
---------------------------------------------------------------------- */

.entry {
	margin-bottom: 40px;
}

.gridcontainer p:last-child,
.entry-content p:last-child{
	margin-bottom:0;
}

.gridcontainer ol,
.gridcontainer ul,
.entry-content ol,
.entry-content ul {
	margin-bottom: 28px;
	margin-left: 20px;
}

.gridcontainer ol ol,
.gridcontainer ul ul,
.entry-content ol ol,
.entry-content ul ul {
	margin-bottom: 0;
}

.gridcontainer code,
.entry-content code {
	background-color: $color-black;
	color: $color-white;
}

.gridcontainer .row_headline {
	@include font-values($g_font-row-headline-title);
}

.gridcontainer{
	&.title-element{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		height: 50vh;
		background-color: $color-secondary;
		padding: 30px 0;
		overflow: hidden;
		.wrap{
			position: relative;
			max-width: 90%;
			z-index: 200;
			.entry-title{
				position: relative;
				color: $color-white;
				padding: 15px 0 0 20px;
				margin-bottom: 0;
				&::before,
				&::after{
					position: absolute;
					content: '';
					transform: scale3d(1, 1, 1);
					top: 6px;
					left: 0;
					background-color: $color-white;
				}
				&::before{
					width: 6px;
					height: 12px;
				}
				&::after{
					width: 12px;
					height: 6px;
				}
			}
		}
		#canvas{
			position: absolute;
			top: 0;
			z-index: 100;
		}
	}
	.featured_widget{
		.featured_widget_preview{
			h2{
				a{
					-webkit-transition: all 0.2s ease-in-out;
					-moz-transition:    all 0.2s ease-in-out;
					-ms-transition:     all 0.2s ease-in-out;
					-o-transition:      all 0.2s ease-in-out;
					transition:         all 0.2s ease-in-out;
					&:hover{
						letter-spacing: .013em;
					}
				}
			}
		}
		ul{
			li{
				a{
					-webkit-transition: all 0.2s ease-in-out;
					-moz-transition:    all 0.2s ease-in-out;
					-ms-transition:     all 0.2s ease-in-out;
					-o-transition:      all 0.2s ease-in-out;
					transition:         all 0.2s ease-in-out;
					&:hover{
						letter-spacing: .015em;
					}
				}
			}
		}
		&:nth-child(2n){
			img{
				&:hover{
					-webkit-transform: scale(1.05) translateZ(0) rotate(-0.5deg);
					transform: scale(1.05) translateZ(0) rotate(-0.5deg);
				}
			}
		}
	}
	.featured_widget_image{
		img{
			-webkit-transition: 0.75s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
			transition: 0.75s transform cubic-bezier(0.23, 1, 0.32, 1);
    		transition-delay: 0s;
			-webkit-backface-visibility: hidden;
			backface-visibility: hidden;
			-webkit-transform: translateZ(0);
			transform: translateZ(0);
			-webkit-transition-delay: .1s;
			transition-delay: .1s;
			&:hover{
				-webkit-transform: scale(1.05) translateZ(0) rotate(0.5deg);
				transform: scale(1.05) translateZ(0) rotate(0.5deg);
				-webkit-transition-delay: 0s;
				transition-delay: 0s;
			}
		}
	}
}

.gridcontainer{
	.featured_widget{
		position: relative;
		overflow: hidden;
		img{
			object-fit: cover;
			object-position: 50% 50%;
			// margin-bottom: 30px;
		}
		a{
			text-decoration: none;
			color: $color-primary;
			&:hover{
				color: $color-primary;
			}
		}
		.featured_widget_thumb{
			position: relative;
			overflow: hidden;
			&:hover{
				.featured_widget_preview{
				}
			}
			p{
				position: absolute;
				font-family: $font-bread;
				text-transform: uppercase;
				letter-spacing: 0.05em;
				color: $color-primary;
				opacity: 0;
				margin-bottom: 0;
				top: 20px;
				left: 30px;
				-webkit-transition: all 0.2s ease-in-out;
				-moz-transition:    all 0.2s ease-in-out;
				-ms-transition:     all 0.2s ease-in-out;
				-o-transition:      all 0.2s ease-in-out;
				transition:         all 0.2s ease-in-out;
				&::before,
				&::after{
					position: absolute;
					content: '';
					transform: scale3d(1, 1, 1);
					top: -5px;
					left: -15px;
					background-color: $color-primary;
				}
				&::before{
					width: 5px;
					height: 15px;
				}
				&::after{
					width: 15px;
					height: 5px;
				}
			}
		}
		.featured_widget_preview{
			position: relative;;
		}
		h3{
			position: relative;
			margin: 0 0 20px 0px;
			color:$color-primary;
			a{
				color: $color-primary;
			}
		}
		ul{
			position: relative;
			margin: 0 0 0 20px;
			&::after{
				position: absolute;
				content: '';
				transform: scale3d(1, 1, 1);
				top: 8px;
				left: -20px;
				background-color: $color-primary;
				width: 6px;
				height: 64px;
			}
		}
		li{
			list-style: none;
			margin: 0;
		}
	}
}

/* ## Headlines
---------------------------------------------------------------------- */
.row_headline,
.entry-title,
.featured_widget_preview h2{
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

/* ## Entry Meta
---------------------------------------------------------------------- */

p.entry-meta {
	@include font-values($g_font-meta);
	margin-bottom: 0;
	a{
		text-decoration: none;
	}
}

.entry-header .entry-meta {
	margin-bottom: 24px;
}

.entry-footer .entry-meta {
	border-top: 2px solid $color-white;
	padding-top: 24px;
}

.entry-categories,
.entry-tags {
	display: inline-block;
}

.entry-comments-link::before {
	content: "\2014";
	margin: 0 6px 0 2px;
}

/* ## Pagination
---------------------------------------------------------------------- */

.pagination {
	clear: both;
	margin: 0;
	padding:60px 0;
}

.adjacent-entry-pagination {
	margin-bottom: 0;
}

.archive-pagination ul{
	text-align:center;
}

.archive-pagination li {
	display: inline;
}

.archive-pagination li a {
	cursor: pointer;
	display: inline-block;
	@include font-values($g_font-pagination);
	background-color: $color-primary;
	padding: 18px;
	width:60px;
	border-radius: 30px;
	text-decoration: none;
}

.archive-pagination li a:hover,
.archive-pagination li a:focus,
.archive-pagination .active a,
.archive-pagination li.pagination-previous a:hover,
.archive-pagination li.pagination-next a:hover,
.archive-pagination li.pagination-previous a:focus,
.archive-pagination li.pagination-next a:focus {
	background-color: shade($color-primary, 20%);
	text-decoration: none;
}
.archive-pagination li a:hover,
.archive-pagination li.pagination-previous a:hover,
.archive-pagination li.pagination-next a:hover{
	box-shadow: 0px 5px 3px 0px rgba(14, 28, 45, 0.25);
}

.archive-pagination li.pagination-previous a,
.archive-pagination li.pagination-next a{
	cursor: pointer;
	display: inline-block;
	@include font-values($g_font-pagination);
	background-color: $color-primary;
	padding: 20px;
	width:60px;
	text-decoration: none;
	bottom: -6px;
    position: relative;
	[class^="icon-"]{
		color: $color-white;
	}
}

.archive-pagination li.pagination-previous a .icon-arrow-left7,
.archive-pagination li.pagination-next a .icon-untitled2 {
    width: 16px;
    height: 16px;
    display: inherit;
}

/* ## Comments
---------------------------------------------------------------------- */

.comment-respond,
.entry-comments,
.entry-pings {
	margin: 0 auto;
	width: 90%;
	margin-bottom: 40px;
}

// .comment-respond, .entry-pings {}
// .entry-comments {}

.logged-in-as{
	@include font-values($g_font-logged-in);
}
.comment-header {
	@include font-values($g_font-comment-header);
}
.comment-form{
	float: left;
	width: 100%;
	margin-bottom: 30px;
}
.comment-form-comment{
	textarea{
		width: 100%;
	}
}
.logged-in-as a:last-child {
    float: right;
}

// li.comment {}

.comment-content {
	clear: both;
	word-wrap: break-word;
}

.comment-list li {
	margin-top: 24px;
}

.comment-list li li {
	margin-right: -32px;
}

.comment-respond input[type="email"],
.comment-respond input[type="text"],
.comment-respond input[type="url"] {
	width: 50%;
}

.comment-respond label {
	display: block;
	margin-right: 12px;
}

.entry-comments .comment-author {
	margin-bottom: 0;
}

.entry-pings .reply {
	display: none;
}

// .bypostauthor {}

.form-allowed-tags {
	background-color: $color-white;
	padding: 24px;
}

/* ## Featured image
---------------------------------------------------------------------- */

.featured-image{
	.before-header{
		background-color: transparent;
	}
} 

// .featured-image .site-header.dark {}

.featured-section {
	margin-top:0px;
    background-attachment: scroll;
    background-color: #000000;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
	background-size: cover;
}

.featured-image .site-inner {
    padding-top: 40px;
    margin-top: 0px;
}
.featured-section .image-section{
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	height: 100vh;
	height: calc(var(--vh, 1vh) * 100);
	width: 100%;
	.wrap{
		position: relative;
		width: 90%;
		padding: 40px 0;
		z-index: 200;
	}
	.entry-title{
		position: relative;
		color: $color-white;
		padding: 15px 0 0 20px;
		margin-bottom: 0;
		&::before,
		&::after{
			position: absolute;
			content: '';
			transform: scale3d(1, 1, 1);
			top: 0;
			left: 0;
			background-color: $color-white;
		}
		&::before{
			width: 6px;
			height: 18px;
		}
		&::after{
			width: 18px;
			height: 6px;
		}
	}
	#canvas{
		position: absolute;
		z-index: 100;
	}
}
.image-section {
	background: linear-gradient(145deg, rgba(0, 57, 93,.75) 0%,rgba(0, 11, 18,0) 100%);
}