/* # Cookiebot
---------------------------------------------------------------------------------------------------- */
#CybotCookiebotDialog {
   background: rgba(253, 254, 255, .8);
   box-shadow: none;
}
#CybotCookiebotDialogPoweredbyLink {
    display: none;
}