/* # Large screens
----------------------------------------------------------------------------------------------------
---------------------------------------------
---------------------------------------------
--------------------------------------------- */



@media only screen and (min-width: $mq-large) {

@import "flexible_grids_fallback_large";

/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */
	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	max-width: $target-large+px;
	margin-bottom: 60px;
}
/* ## Site Containers
---------------------------------------------------------------------- */
/* ### Site Containers Full-width 
--------------------------------------------- */
.full-width-content .site-inner .content .entry{
	max-width: $target-large+px;
}
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.row_headline{
		max-width: $target-large+px;
	}
	.wrap{
		max-width: $target-large+px;
	}
}
.gridcontainer{
	.backimage{
		min-height: 50vh;
	}
}

@supports (display: grid) {
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	.gridcontainer.coll3{
		.wrap{
			grid-template-columns:repeat(3, 1fr);
		}
	}
	.gridcontainer.coll4{
		.wrap{
			grid-template-columns:repeat(2, 1fr);
		}
	}
	.gridcontainer.coll5{
		.wrap{
			grid-template-columns:repeat(2, 1fr);
		}
	}
	.gridcontainer.coll6{
		.wrap{
			grid-template-columns:repeat(4, 1fr);
		}
	}
}
}
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
.archive-description,
.author-box {
	max-width: $target-large+px;
}
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */
/* ## Title Area
---------------------------------------------------------------------- */
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
/*
.content .post{
	img{
		@include structure(585, $target-large)
	}
}
*/
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
	max-width: $target-large+px;
}
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets .wrap {
	max-width: $target-large+px;
}
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */
	
}

/* # Large screens end
---------------------------------------------------------------------------------------------------- */