/* # Large screens
----------------------------------------------------------------------------------------------------
---------------------------------------------
---------------------------------------------
--------------------------------------------- */



@media only screen and (min-width: $mq-large) {

// @import "flexible_grids_fallback_large";

/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */
	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	max-width: $target-large+px;
	margin-bottom: 60px;
}
/* ## Site Containers
---------------------------------------------------------------------- */
/* ### Site Containers Full-width 
--------------------------------------------- */
.full-width-content .site-inner .content .entry{
	max-width: $target-large+px;
}
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.row_headline{
		max-width: $target-large+px;
	}
	.wrap{
		max-width: $target-large+px;
	}
}
.gridcontainer{
	.backimage{
		min-height: 70vh;
	}
}

@supports (display: grid) {
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	.gridcontainer.coll3{
		.wrap{
			grid-template-columns:repeat(3, 1fr);
		}
	}
	.gridcontainer.coll4{
		.wrap{
			grid-template-columns:repeat(2, 1fr);
		}
	}
	.gridcontainer.coll5{
		.wrap{
			grid-template-columns:repeat(2, 1fr);
		}
	}
	.gridcontainer.coll6{
		.wrap{
			grid-template-columns:repeat(4, 1fr);
		}
	}
}
}

@supports (display: grid){
	@media (hover:hover){
		.gridcontainer.coll2{
			&.featured{
				.wrap{
					grid-template-columns:repeat(1, 1fr);
				}
			}
		}
	}
}

/* ### Grid Containers coloured backgrounds
--------------------------------------------- */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */

/* ## Title Area
---------------------------------------------------------------------- */
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
// @import "site_navigation_large";

/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
/*
.content .post{
	img{
		@include structure(585, $target-large)
	}
}
*/
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
	max-width: $target-large+px;
}
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Frontpage Style
---------------------------------------------------------------------------------------------------- */
/*
.gridcontainer{
	.featured_widget{
		.featured_widget_thumb{
			// align-items: start;
		}
		&:nth-child(2n){
			.featured_widget_image{
				order: 2;
			}
			.featured_widget_preview{
				order: 1;
			}
		}
	}
}
@media (hover: hover){
	.gridcontainer{
		.featured_widget{
			.featured_widget_thumb{
				display: block;
				.featured_widget_image,
				.featured_widget_preview{
					width: 100%;
					text-align: left;
				}
			}
			&:nth-child(2n){
				ul{
					padding-right: 0;
					&:after{
						left: -20px;
					}
				}
			}
		}
	}
}
*/


/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */
	
}

/* # Large screens end
---------------------------------------------------------------------------------------------------- */