/* # Large screens
----------------------------------------------------------------------------------------------------
---------------------------------------------
---------------------------------------------
--------------------------------------------- */



@media only screen and (min-width: $mq-large) {

// @import "flexible_grids_fallback_large";

/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */
	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	max-width: $target-large+px;
	margin-bottom: 60px;
}
/* ## Site Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.column-button{
		margin-top: $margin-large+px;
	}
}
/* ### Site Containers Full-width 
--------------------------------------------- */
.full-width-content .site-inner .content .entry{
	max-width: $target-large+px;
}
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.row_headline{
		max-width: $target-large+px;
	}
	.wrap{
		max-width: $target-large+px;
	}
}

@supports (display: grid) {
	.gridcontainer{
		.wrap{
			section{
				&.references{
					ul{
						grid-template-columns: repeat(4, 1fr);
						grid-column-gap: $margin-large+px;
					}
				}
			}
		}
	}
	.gridcontainer.featured_cases{
		.wrap{
			grid-template-columns: repeat(4, 1fr);
		}
	}

.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	.gridcontainer.coll3{
		.wrap{
			grid-template-columns:repeat(3, 1fr);
		}
	}
	.gridcontainer.coll4{
		.wrap{
			grid-template-columns:repeat(2, 1fr);
		}
	}
	.gridcontainer.coll5{
		.wrap{
			grid-template-columns:repeat(2, 1fr);
		}
	}
	.gridcontainer.coll6{
		.wrap{
			grid-template-columns:repeat(4, 1fr);
		}
	}
}
}

@supports (display: grid){
	@media (hover:hover){
		.gridcontainer.coll2{
			&.featured{
				.wrap{
					grid-template-columns:repeat(1, 1fr);
				}
			}
		}
	}
}

/* ### Grid Containers coloured backgrounds
--------------------------------------------- */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */

/* ## Title Area
---------------------------------------------------------------------- */
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
// @import "site_navigation_large";

/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
/*
.content .post{
	img{
		@include structure(585, $target-large)
	}
}
*/
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
	max-width: $target-large+px;
}
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Frontpage Style
---------------------------------------------------------------------------------------------------- */
/* # Hero element
--------------------------------------------------- */
.gridcontainer{
	&.hero{
		.wrap{
			.hero-text{
				font-family: $font-hero;
			}
		}
	}
}
/* # Featured cases
--------------------------------------------------- */
.gridcontainer{
	&.featured_cases{
		.wrap{
			section{
				.section-wrap{
					&::after{
						-webkit-transform: scale(3) translateX(0%) translateY(100%) translateZ(0px) rotate(25deg);
						transform: scale(3) translateX(0%) translateY(100%) translateZ(0px) rotate(25deg);
						-webkit-transition: 3s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
						transition: 3s transform cubic-bezier(0.23, 1, 0.32, 1);
					}
				}
				&:hover{
					
					.works-name{
						bottom: 55px;
					}
					img{
						filter:grayscale(100%);
					}
				}
				&:first-child{
					grid-column: span 2;
					grid-row: span 2;
					h4{
						@include font-values($g_font-h3);
						color: $color-white;
						&::before,
						&::after{
							position: absolute;
							content: '';
							transform: scale3d(1, 1, 1);
							top: -2px;
							left: -10px;
							background-color: $color-white;
						}
						&::before{
							width: 4px;
							height: 10px;
						}
						&::after{
							width: 10px;
							height: 4px;
						}
					}
					p{
						::after {
							position: absolute;
							content: '';
							transform: scale3d(1, 1, 1);
							top:45px;
							left: -10px;
							background-color: $color-white;
							width: 4px;
							height: 64px;
						}
					}
				}
				&:nth-child(8n){
					grid-column: span 2;
					grid-row: span 2;
					h4{
						@include font-values($g_font-h3);
						color: $color-white;
						&::before,
						&::after{
							position: absolute;
							content: '';
							transform: scale3d(1, 1, 1);
							top: -2px;
							left: -10px;
							background-color: $color-white;
						}
						&::before{
							width: 4px;
							height: 10px;
						}
						&::after{
							width: 10px;
							height: 4px;
						}
					}
					p{
						::after {
							position: absolute;
							content: '';
							transform: scale3d(1, 1, 1);
							top:45px;
							left: -10px;
							background-color: $color-white;
							width: 4px;
							height: 64px;
						}
					}
				}
				.works-name{
					position: absolute;
					width: calc(100% - 25px);
					margin: 0;
					left: 25px;
					bottom: -40%;
					z-index: 500;
					-webkit-transition: all .6s ease-in-out .2s;
					-moz-transition: all .6s ease-in-out .2s;
					-ms-transition: all .6s ease-in-out .2s;
					-o-transition: all .6s ease-in-out .2s;
					transition: all .6s ease-in-out .2s;
				}
			}
		}
	}
}

/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */
	
}

/* # Large screens end
---------------------------------------------------------------------------------------------------- */