/* # X-Small screens
----------------------------------------------------------------------------------------------------
---------------------------------------------
---------------------------------------------
--------------------------------------------- */



@media only screen and (min-width: $mq-xsmall) {
		
/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */

	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
---------------------------------------------------------------------- */
/* ### Site Containers Full-width
---------------------------------------------------------------------- */
/* ## Grid Containers
---------------------------------------------------------------------- */
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
/* @import "flexible_grids_small"; */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */
/* ## Title Area
---------------------------------------------------------------------- */
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
.footer-widgets .wrap {
	max-width: 400px;
}
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Frontpage Style
---------------------------------------------------------------------------------------------------- */
/* # Hero element
--------------------------------------------------- */
.gridcontainer{
	&.hero{
		.wrap{
			.hero-text{
				font-size: 8.5vw;
                margin-bottom: 0vh;
			}
		}
	}
	.featured_widget{
		ul{
			column-count: 2;
		}
	}
}

/* ## Archive
---------------------------------------------------------------------------------------------------- */
/* ## Work Single Elements
---------------------------------------------------------------------- */
.animated-work{
    .work-info{
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
        section{
			&.work-client{
				width: 100%;
			}
			&.work-brief{
				width: calc(50% - 15px);
			}
			&.work-solution{
				margin-top: 0;
				width: calc(50% - 15px);
            }
		}
	}
	.work-data{
		display: flex;
		flex-flow: wrap;
		justify-content: space-between;
		section{
			&.work-data-website,
			&.work-data-list{
				width: calc(50% - 25px);
			}
		}
	}
}


/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */

	
}
/* # X-Small screens end
---------------------------------------------------------------------------------------------------- */