/* # Small screens
----------------------------------------------------------------------------------------------------
---------------------------------------------
---------------------------------------------
--------------------------------------------- */



@media only screen and (min-width: $mq-small) {
	
// @import "flexible_grids_fallback_small";
	
/* # Defaults
---------------------------------------------------------------------------------------------------- */
/* ## Typographical Elements
---------------------------------------------------------------------- */
/* ## Headings
---------------------------------------------------------------------- */
/* ## Objects
---------------------------------------------------------------------- */
/* ## Forms
---------------------------------------------------------------------- */
/* ## Tables
---------------------------------------------------------------------- */
/* ## Screen Reader Text
---------------------------------------------------------------------- */

	
/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
/* ## Site Containers
---------------------------------------------------------------------- */
.site-inner{
	width: 100%;
}
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	width: 90%;
	max-width: $target-small+px;
}
/* ### Site Containers Full-width
---------------------------------------------------------------------- */
.full-width-content .site-inner .content .entry{
	max-width: $target-small+px;
}
/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	.row_headline{
		max-width: $target-small+px;
	}
	.wrap{
		max-width: $target-small+px;
	}
}
.gridcontainer.non{
	.wrap{
		max-width: 100%;
	}
}
/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
/* @import "flexible_grids_small"; */

/* # Common Classes
---------------------------------------------------------------------------------------------------- */
/* ## Avatar
---------------------------------------------------------------------- */
/* ## Genesis
---------------------------------------------------------------------- */
/* ## Titles
---------------------------------------------------------------------- */
/* ## WordPress
---------------------------------------------------------------------- */

/* # Widgets
---------------------------------------------------------------------------------------------------- */
/* ## Featured Content
---------------------------------------------------------------------- */

/* # Plugins
---------------------------------------------------------------------------------------------------- */
/* ## Genesis eNews Extended
---------------------------------------------------------------------- */
/* ## Skip Links
---------------------------------------------------------------------- */

/* # Site Header
---------------------------------------------------------------------------------------------------- */
.site-header > .wrap {
    max-width: 90%;
}
/* ## Title Area
---------------------------------------------------------------------- */
.header-full-width .title-area,
.title-area {
    margin-left: 0;
    margin-top: 4px;
}
/* ## Widget Area
---------------------------------------------------------------------- */
/* ## Before header
---------------------------------------------------------------------- */

/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* ## Accessible Menu
---------------------------------------------------------------------- */
/* ## Site Header Navigation
---------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
.body-fixed{
	position: relative;
}
.nav-primary{
	position: relative;
	width: auto;
}
.menu-primary{
	flex-direction: row;
	padding-top: 0;
    height: auto;
    opacity: 1;
    overflow: unset;
	transform: translateY(0);
	background-color: transparent;
}
.menu-item{
    position: relative;
    display: inline-block;
	padding: 0 10px;
	a{
		&:hover{
            color: $color-primary;
        }
	}
	&.current_page_item{
        a{
            color: $color-primary;
        }
    }
	&:last-child{
        &::after{
            position: absolute;
            content: '';
            transform: scale3d(1, 1, 1);
			top:-5px;
			bottom: unset;
			left: unset;
			right: -5px;
            width: 5px;
            height: 14px;
            background-color: $color-white;
		}
		&::before{
			position: absolute;
            content: '';
            transform: scale3d(1, 1, 1);
			width: 14px;
			height: 5px;
			top: -5px;
			right: -5px;
			background-color: $color-white;
		}
    }
}
/* ## Secondary Navigation
---------------------------------------------------------------------- */
/* ## Responsive Menu
---------------------------------------------------------------------- */
/* ## Language Menu
---------------------------------------------------------------------- */

/* # Content Area
---------------------------------------------------------------------------------------------------- */
/* ## Entries
---------------------------------------------------------------------- */
.archive .site-inner{
	float: left;
	margin-bottom: 40px;
}
/*
.content .post{
	img{
		float: left;
		margin-right: $margin-small+px;
		@include structure(385, $target-small);
		margin-bottom: inherit;
	}
}
*/
/* ## Buttons
---------------------------------------------------------------------- */
/* ## Entry Meta
---------------------------------------------------------------------- */
/* ## Pagination
---------------------------------------------------------------------- */
/* ## Comments
---------------------------------------------------------------------- */
.comment-respond,
.entry-comments,
.entry-pings {
	max-width: $target-small+px;
}
/* ## Featured image
---------------------------------------------------------------------- */
/* ## Case grid
---------------------------------------------------------------------- */

/* # Sidebars
---------------------------------------------------------------------------------------------------- */

/* # Footer Widgets
---------------------------------------------------------------------------------------------------- */
@supports (display: grid) {
	.footer-widgets .wrap {
		display: grid;
		grid-template-columns:repeat(1, 1fr);
		grid-gap:$margin-small+px;
	}
}
/* ## Social Icons
---------------------------------------------------------------------- */

/* # Site Footer
---------------------------------------------------------------------------------------------------- */

/* # Frontpage Style
---------------------------------------------------------------------------------------------------- */
/* # Hero element
--------------------------------------------------- */
.gridcontainer{
	&.hero{
		.wrap{
			.hero-text{
				font-size: 9vw;
				padding: 15px 20px;
				padding-bottom: 20vh;
			}
			&::before{
				width: 6px;
				height: 18px;
			}
			&::after{
				width: 18px;
				height: 6px;
			}
		}
		.bounce{
			.icon-arrow-down7{
				width: 40px;
				height: 40px;
			}
		}
	}
	.featured_widget{
		.featured_widget_thumb{
			display: flex;
			justify-content: space-between;
			align-items: center;
			.featured_widget_image,
			.featured_widget_preview{
				width: calc(50% - 15px);
			}
		}
		ul{
			column-count: 1;
		}
		&:nth-child(2n){
			.featured_widget_image{
				order: 2;
			}
			.featured_widget_preview{
				order: 1;
				text-align: right;
			}
			ul{
				padding-right: 20px;
				&:after{
					right: 0;
					left: unset;
				}
			}
		}
	}
}

@media only screen and (min-width: $mq-small) and (orientation: portrait){
	.gridcontainer{
		&.hero{
			height: 80vh;
			.wrap{
				.hero-text{
					padding-bottom: 0;
					font-size: 9.5vw;
				}
			}
		}
	}
}

/* # Animations
---------------------------------------------------------------------------------------------------- */
/* ## Keyframes
---------------------------------------------------------------------- */
/* ### Move X and Roll 360 degrees
--------------------------------------------- */
/* ### Move up
--------------------------------------------- */
/* ### Move down
--------------------------------------------- */
/* ### Fade in
--------------------------------------------- */
/* ### Scale down
--------------------------------------------- */
/* ### Fade out
--------------------------------------------- */
/* ### Slide with opacity
--------------------------------------------- */
/* ### Scale up
--------------------------------------------- */

	
}
/* # Small screens end
---------------------------------------------------------------------------------------------------- */