/* # Frontpage Style
---------------------------------------------------------------------------------------------------- */

.home-section .site-inner{
	margin-top:0px;
	padding-top:0;
}

.home-section.full-width-content .entry.content,
.home-section .site-inner .content .entry {
	margin-bottom:0;
}



/* # Site Header
--------------------------------------------------- */
/*
.home-section .site-header {
	margin-top:0px;
	background-color: transparent;
}

.home-section .site-header.dark {
	margin-top:0px;
	background-color: transparent;
}
*/

/* # Hero element
--------------------------------------------------- */
.gridcontainer{
	&.hero{
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		background-color: $color-secondary;
		height: 100vh;
		overflow: hidden;
		.wrap{
			position: relative;
			width: 90%;
			max-width: 90%;
			.hero-text{
				position: relative;
				display: block;
				width: 100%;
				color: $color-white;
				font-size: 10.5vw;
				line-height: 1;
				margin-bottom: 0;
				font-family: $font-hero;
				padding: 15px 20px;
				margin-bottom: 20vh;
				&::before,
				&::after{
					position: absolute;
					content: '';
					transform: scale3d(1, 1, 1);
					top: 0;
					left: 0;
					background-color: $color-white;
				}
				&::before{
					width: 6px;
					height: 18px;
				}
				&::after{
					width: 18px;
					height: 6px;
				}
				span{
					position: absolute;
					display: block;
					&:nth-child(2){
						-webkit-animation: slide_hero_one 12s infinite ease-in-out both;
						-moz-animation: slide_hero_one 12s infinite ease-in-out both;
						-o-animation: slide_hero_one 12s infinite ease-in-out both;
						-ms-animation: slide_hero_one 12s infinite ease-in-out both;
						animation: slide_hero_one 12s infinite ease-in-out both;
					}
					&:nth-child(3){
						-webkit-animation: slide_hero_two 12s infinite ease-in-out both;
						-moz-animation: slide_hero_two 12s infinite ease-in-out both;
						-o-animation: slide_hero_two 12s infinite ease-in-out both;
						-ms-animation: slide_hero_two 12s infinite ease-in-out both;
						animation: slide_hero_two 12s infinite ease-in-out both;
					}
					&:nth-child(4){
						-webkit-animation: slide_hero_three 12s infinite ease-in-out both;
						-moz-animation: slide_hero_three 12s infinite ease-in-out both;
						-o-animation: slide_hero_three 12s infinite ease-in-out both;
						-ms-animation: slide_hero_three 12s infinite ease-in-out both;
						animation: slide_hero_three 12s infinite ease-in-out both;
					}
				}
			}
		}
		.bounce{
			position: absolute;
			bottom: 10px;
			opacity: 0.35;
			display: flex;
			justify-content: center;
			width: 100%;
			padding: 10px;
			-moz-animation: bounce 2s;
			-webkit-animation: bounce 2s;
			animation: bounce 2s;
    		animation-iteration-count: 1;
			-moz-animation-iteration-count: 3;
			-webkit-animation-iteration-count: 3;
			animation-iteration-count: 3;
			animation-delay: 12s;
			.icon-arrow-down7{
				fill: $color-white;
				width: 30px;
				height: 30px;
			}
		}
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
	  -moz-transform: translateY(0);
	  -ms-transform: translateY(0);
	  -webkit-transform: translateY(0);
	  transform: translateY(0); opacity:.35; 
	}
	40% {
	  -moz-transform: translateY(-20px);
	  -ms-transform: translateY(-20px);
	  -webkit-transform: translateY(-20px);
	  transform: translateY(-20px); opacity: 1;
	}
	60% {
	  -moz-transform: translateY(-10px);
	  -ms-transform: translateY(-10px);
	  -webkit-transform: translateY(-10px);
	  transform: translateY(-10px); opacity: .35; 
	} 
}

@media screen and (orientation: portrait) {
	.gridcontainer{
		&.hero{
			height: 70vh;
			.wrap{
				.hero-text{
					margin-bottom: 0;
					padding-bottom: 0;
				}
			}
		}
	}
}

/* ### Slide with opacity
--------------------------------------------- */
@keyframes slide_hero_one{
	0% {transform: translateX(50%); opacity: 0;}
	16% {transform: translateX(0vw); opacity: 1;}
	32% {transform: translateX(0vw); opacity: 0;}
	48% {transform: translateX(0vw); opacity: 0;}
	64% {transform: translateX(0vw); opacity: 0;}
	80% {transform: translateX(0vw); opacity: 0;}
	100% {transform: translateX(0vw); opacity: 0;}
}
@keyframes slide_hero_two{
	0% {transform: translateX(0vw); opacity: 0;}
	16% {transform: translateX(0vw); opacity: 0;}
	32% {transform: translateX(50%); opacity: 0;}
	48% {transform: translateX(0vw); opacity: 1;}
	64% {transform: translateX(0vw); opacity: 0;}
	80% {transform: translateX(0vw); opacity: 0;}
	100% {transform: translateX(0vw); opacity: 0;}
}
@keyframes slide_hero_three{
	0% {transform: translateX(0vw); opacity: 0;}
	16% {transform: translateX(0vw); opacity: 0;}
	32% {transform: translateX(0vw); opacity: 0;}
	48% {transform: translateX(0vw); opacity: 0;}
	64% {transform: translateX(50%); opacity: 0;}
	80% {transform: translateX(0vw); opacity: 1;}
	100% {transform: translateX(0vw); opacity: 0;}
}

/* # Worls widget
--------------------------------------------------- */
.home{
	.gridcontainer{
		.featured_widget{
			position: relative;
			overflow: hidden;
			img{
				object-fit: cover;
				object-position: 50% 50%;
				margin-bottom: 30px;
			}
			a{
				text-decoration: none;
				color: $color-primary;
				&:hover{
					color: $color-primary;
				}
			}
			.featured_widget_thumb{
				overflow: hidden;
				&:hover{
					.featured_widget_preview{
					}
				}
			}
			.featured_widget_preview{
				position: relative;;
			}
			h3{
				position: relative;
				margin: 0 0 20px 0px;
				color:$color-white;
				a{
					color: $color-primary;
				}
			}
			ul{
				position: relative;
				margin: 0 0 0 20px;
				&::after{
					position: absolute;
					content: '';
					transform: scale3d(1, 1, 1);
					top: 8px;
					left: -20px;
					background-color: $color-primary;
					width: 6px;
					height: 32px;
				}
			}
			li{
				list-style: none;
				margin: 0;
			}
		}
	}
}
@media only screen and (min-width: $mq-large) {
	.home{
		.gridcontainer{
			.featured_widget{
				color: $color-white;
				img{
					margin-bottom: 0;
				}
				.featured_widget_thumb{
					&:hover{
						.featured_widget_preview{
							transform: translateX(0%);
							transition-duration: .5s;
							transition-delay: .2s;
						}
						&::after{
							-webkit-transform: translateX(0px);
    						transform: translateX(0px);
    						-webkit-transition-duration: .7s;
							transition-duration: .7s;
						}
					}
					&::after{
						position: absolute;
						display: block;
						content: '';
						top: 0;
						left: 0;
						height: 100%;
						width: 100%;
						opacity: .95;
						background-color: shade($color-primary, 20%);
						-webkit-transition: .7s -webkit-transform cubic-bezier(0.23, 1, 0.32, 1);
						transition: .7s transform cubic-bezier(0.23, 1, 0.32, 1);						
						-webkit-transform:translateX(100%);
						transform: translateX(100%);
					}
				}
				.featured_widget_preview{
					position:absolute;
					z-index: 100;
					width: 100%;
					height: 100%;
					padding: $margin-large+px;
					top: 0;
					transition: .5s transform cubic-bezier(0.23, 1, 0.32, 1);
					transform: translateX(100%);
				}
				h2{
					color: $color-secondary;
				}
				ul{
					&::after{
						background-color: $color-white;
					}
					li{
						color: $color-white;
					}
				}
			}
		}
	}
}

/* # Grids
--------------------------------------------------- */

.home .content .gridcontainer.White:nth-child(2){
	padding-top:120px;
}

.home.full-width-content .site-inner .content .featured_widget .entry{
	width: 100%;
	max-width: 100%;
}
.featured_widget{
	.entry{
		position: relative;
		.entry-header{
			position: absolute;
			left: 20px;
			bottom: 0px;
		}
	}
}

.featured_widget{
	.widget-wrap{
		display: grid;
		grid-template-columns:repeat(4, 1fr);
	}
}