/* # Frontpage Style
---------------------------------------------------------------------------------------------------- */

.home-section .site-inner{
	margin-top:0px;
	padding-top:0;
}

.home-section.full-width-content .entry.content,
.home-section .site-inner .content .entry {
	margin-bottom:0;
}



/* # Site Header
--------------------------------------------------- */

.home-section .site-header {
	margin-top:0px;
	background-color: transparent;
}

.home-section .site-header.dark {
	margin-top:0px;
	background-color: transparent;
}

/* # Slider


.slide_content{
    padding: 0;
    position: absolute;
    width: 80%;
    left: 10%;
    text-align: center;
    top: 20%;
	color: $color-white;
}

.slide_content h2,
.slide_content h3 {
	color:$color-black;
}

.full-width-content .gridcontainer.fullscreen.Black {
	    padding: 0px;
}

.full-width-content .gridcontainer.fullscreen.Black .slide_content h1 {
	@include font(7.8, 7.8);
	color:$color-primary;
	text-shadow: 3px 4px 8px rgba(0, 0, 0, 0.5);
}
.slide_content h2{
    text-transform: uppercase;
	max-width:1500px;
	margin:0 auto;
	word-wrap: break-word;
}

.slide_content p{
	margin:40px auto;
	width:60%;
	@include font(2.6, 3);
	font-weight:400;
	color: $color-white;
}

.full-width-content .gridcontainer.fullscreen.Black .slide_content .button {
    background-color: shade($color-primary, 20%);
    color: $color-white;
	text-transform:uppercase;
}

.gridcontainer .slide_content .button:before,
.gridcontainer .slide_content .button:after,
.gridcontainer .slide_content .button span:before,
.gridcontainer .slide_content .button span:after {
	background:$color-white;
}

.active .slide_content{
	animation-delay: 0.5s;
	
	-webkit-animation: moveDown 1s ease-in-out both;
	-moz-animation: moveDown 1s ease-in-out both;
	-o-animation: moveDown 1s ease-in-out both;
	-ms-animation: moveDown 1s ease-in-out both;
	animation: moveDown 1s ease-in-out both;
}

.actice h2{
	animation-delay: 0.5s;
	
	-webkit-animation: fadeIn 1s linear both;
	-moz-animation: fadeIn 1s linear both;
	-o-animation: fadeIn 1s linear both;
	-ms-animation: fadeIn 1s linear both;
	animation: fadeIn 1s linear both;
}

.frontpage-icon {
	position:absolute;
	bottom:100px;
	left:48%;
	animation-delay: 0.7s;
}

.frontpage-icon .icon-arrow-down5 {
    width: 40px;
    height: 40px;
	color:$color-black;
}
--------------------------------------------------- */

/* # Grids
--------------------------------------------------- */

.home .content .gridcontainer.White:nth-child(2){
	padding-top:120px;
}