/* # Primary Navigation
---------------------------------------------------------------------------------------------------- */
.body-fixed{
    position: fixed;
    width: 100%;
}
.nav-primary{
    position: absolute;
    width: 100%;
    top: 0;
    a{
        text-decoration: none;
    }
    .sub-menu{
        position: absolute;
        left: -9999px;
    }
}
.menu-primary{
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: translateY(-100vh);
    -webkit-transition: all 0.2s ease-in-out;
	-moz-transition:    all 0.2s ease-in-out;
	-ms-transition:     all 0.2s ease-in-out;
	-o-transition:      all 0.2s ease-in-out;
	transition:         all 0.6s ease-in-out;
}

.menu-primary{
    display: flex;
    flex-direction: column;
    padding-top: 100px;
    background-color: shade($color-primary, 60%);
    z-index: 0;
}

.open-primary{
    height: auto;
    opacity: 1;
    height: 100vh;
    width: 100%;
    transform: translateY(0);
    z-index: 50;
}

.menu-item{
    position: relative;
    display: inline-block;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: calc(5% + 30px);
    padding-right: calc(5% + 30px);
    margin-bottom: 0;
    a{
        font-family: $font-navigation;
        @include font-values($g_font-nav);
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-decoration: none;
        &:hover{
            color: tint($color-primary, 40%);
        }
    }
    &.menu-item-has-children{
        a:after{
            display: inline-block;
            margin-left: 5px;
            content: '';
        }
    }
    &.current_page_item{
        a{
            color: tint($color-primary, 40%);
        }
    }
    &:last-child{
        &::after{
            position: absolute;
            content: '';
            transform: scale3d(1, 1, 1);
            bottom:10px;
            left: 5%;
            width: 6px;
            height: 60px;
            background-color: $color-white;
        }
    }
}
.responsive-menu-icon {
    position: absolute;
    top: 35px;
    right: 5%;
    display: block;
    height: auto;
    width: auto;
    float: right;
    background-color: transparent;
    color:$color-white;
    cursor: pointer;
    z-index: 100;
}
.responsive-menu-icon .line{
    width: 30px;
    height: 3px;
    background-color: $color-white;
    display: block;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}
.responsive-menu-icon.icon-open .line:nth-child(2){
    opacity: 0;
}
.responsive-menu-icon.icon-open .line:nth-child(1){
    -webkit-transform: translateY(8px) rotate(45deg);
    -ms-transform: translateY(8px) rotate(45deg);
    -o-transform: translateY(8px) rotate(45deg);
    transform: translateY(8px) rotate(45deg);
    background-color: $color-white;
}
.responsive-menu-icon.icon-open .line:nth-child(3){
    -webkit-transform: translateY(-8px) rotate(-45deg);
    -ms-transform: translateY(-8px) rotate(-45deg);
    -o-transform: translateY(-8px) rotate(-45deg);
    transform: translateY(-8px) rotate(-45deg);
    background-color: $color-white;
}