/* # Site Navigation
---------------------------------------------------------------------------------------------------- */
/* ## Primary Navigation
---------------------------------------------------------------------- */
/* ## Genesis Navigation Menu
---------------------------------------------------------------------- */
.site-header > .wrap{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.nav-primary{
	width: 100%;
}
.responsive-menu-icon{
	display: none;
}
.genesis-nav-menu{
	margin-top: 0;
	&.responsive-menu {
		display: flex;
		justify-content: space-evenly;
		width: 100%;
		.menu-item-has-children{
			&:before{
				display: none;
			}	
		}
		.menu-open.menu-item-has-children:before{
			display: none;
		}
		.menu-item{
			a{
				padding-top: 0;
			}
			&:hover{
			}
		}
        .sub-menu{
			left: -9999px;
			opacity: 0;
			position: absolute;
			-webkit-transition: opacity .4s ease-in-out;
			-moz-transition: opacity .4s ease-in-out;
			-ms-transition: opacity .4s ease-in-out;
			-o-transition: opacity .4s ease-in-out;
			transition: opacity .4s ease-in-out;
			width: 250px;
			z-index: 99;
            .current-menu-item > a:hover,
            li a,
            li a:hover{
            }
            .sub-menu{
            }
        }
    }
}
/*
.genesis-nav-menu{
    &.responsive-menu{
        opacity: 0;
        -webkit-transition: opacity .4s ease-in-out;
        -moz-transition:    opacity .4s ease-in-out;
        -ms-transition:     opacity .4s ease-in-out;
        -o-transition:      opacity .4s ease-in-out;
        transition:         opacity .4s ease-in-out;
    }
    
}
.genesis-nav-menu-open{
    &.responsive-menu{
        opacity: 1;
        display: flex;
        flex-direction: column;
    }
    
}
.genesis-nav-menu.responsive-menu > .menu-item > .sub-menu {
    display: flex;
    flex-direction: column;
}

.genesis-nav-menu {
	display: flex;
	justify-content: flex-end;
	clear: both;
	@include font-values($g_font-nav);
	text-transform:uppercase;
    width: 100%;
    margin-top: 30px;
    padding: 0 5%;
	.menu-item {
		margin: 0;
		&:hover {
			position: static;
			> .sub-menu {
				left: auto;
				opacity: 1;
			}
		}
		a {
			font-family: $font-bold;
			@include font-values($g_font-nav);
			letter-spacing:0.2em;
			text-decoration: none;
			color:$color-black;
			display: block;
			padding: 10px 0;
			&:hover,
			&:focus{
				color: $color-active;
				text-decoration: none;
			}
		}
		.sub-menu {
			left: -9999px;
			opacity: 0;
			position: absolute;
			margin: 0;
			-webkit-transition: opacity .4s ease-in-out;
			-moz-transition:    opacity .4s ease-in-out;
			-ms-transition:     opacity .4s ease-in-out;
			-o-transition:      opacity .4s ease-in-out;
			transition:         opacity .4s ease-in-out;
			width: 300px;
			z-index: 99;
			a {
                border-top: 1px solid $color-black;
                padding: 10px 0;
				position: relative;
				width: 300px;
				font-size: 90%;
				word-wrap: break-word;
				text-transform: none;
			}
			.sub-menu {
				margin: -55px 0 0 300px;
				a{
					font-size: 80%;
					margin-left: 10px;
					border-top: none;
				}
			}
		}
	}
	.current-menu-item > a{
		color: $color-active;
		&:hover,
		&:focus{
			color: $color-black;
		}
	}
	.current-menu-parent > a{
		color: $color-secondary;
		&:hover,
		&:focus{
			color: $color-active;
		}
    }
    &.responsive-menu{
		display: none;
		> .menu-item{
			> .sub-menu{
			display: none;
			}
		}
		.menu-item-has-children{
			cursor: pointer;
			&:before{
				content: "\f347";
				float: right;
				font: normal 16px/1 'dashicons';
				height: 16px;
				padding: 10px 0 20px 20px;
				right: 0;
				text-align: right;
				z-index: 9999;
				color: $color-black;
			}	
		}
		.menu-open.menu-item-has-children:before{
			content: "\f343";
			color: $color-black;
		}
		.menu-item{
			display: block;
			&:hover{
				position: static;
			}
		}
        .sub-menu{
	        left: auto;
	        opacity: 1;
	        position: relative;
	        -moz-transition:    opacity .4s ease-in-out;
	        -ms-transition:     opacity .4s ease-in-out;
	        -o-transition:      opacity .4s ease-in-out;
	        -webkit-transition: opacity .4s ease-in-out;
	        transition:         opacity .4s ease-in-out;
	        width: 100%;
            z-index: 99;
            .current-menu-item > a:hover,
            li a,
            li a:hover{
	            position: relative;
	            width: 100%;
            }
            .sub-menu{
                margin: 0;
            }
        }
    }
}
*/
/* Responsive Menu Icon
--------------------------------------------- */