/* # Site Footer
---------------------------------------------------------------------------------------------------- */

.site-footer {
	display: block;
	float: left;
	width: 100%;
	position:relative;
	background-color: $color-black;
	@include font-values($g_font-site-footer);
	line-height: 1;
	padding: 15px 0;
	text-align: center;
	a{
		color: $color-white;
		text-decoration: none;
		&:hover{
			text-decoration: underline;
		}
	}
}

.site-footer p {
	margin-bottom: 0;
}