/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */

/* ## Site Containers
---------------------------------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
}

.site-inner{
	display: block;
	clear: both;
	margin: 30 auto;
	width:100%;
}
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	width: 90%;
	.gridcontainer.white{
		.wrap,
		.row_headline{
			width: 100%;
		}
	}
}
.sidebar-primary{
	background-color:transparent;
}
.sidebar-secondary{
	background-color:transparent;
}

/* ### Site Containers Full-width
--------------------------------------------- */

.full-width-content .site-inner{
	margin: 80px 0 0 0;
	float: left;
}

.full-width-content .site-inner .content .breadcrumb,
.full-width-content .site-inner .content .entry{
	width:90%;
	margin: 0px auto;
}
.full-width-content .site-inner .content .entry{
	margin-bottom: 30px;
}

/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	padding: 30px 0;
	.row_headline{
		width: 90%;
    	margin: 0 auto;
		margin: 0 auto 20px;
	}
	.wrap{
		width: 90%;
    	margin: 0 auto;
		section{
			padding: 30px 0 0;
		}
	}
}
.gridcontainer.non{
	padding: 0;
	.row_headline{
		display: none;
	}
	.wrap{
		width: 100%;
		.wysiwyg{
			margin: 0 auto;
			padding: 30px 0;
			width: 90%;
		}
	}
}
.gridcontainer{
	.backimage{
		min-height: 250px;
		background-size: cover;
    	background-position: 50% 50%;
	}
}
.gridcontainer{
	.gridimage{
		min-height: 100%;
		object-fit: cover;
	}
}

/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
.gridcontainer.black{
	background-color: $g_gridcontainer-black;
	color: $g_gridcontainer-black-font-color;
	.row_headline{
		color: $g_gridcontainer-black-font-color;
	}
}
.gridcontainer.grey{
	background-color: $g_gridcontainer-grey;
	color:$g_gridcontainer-grey-font-color;
	.row_headline{
		color: $g_gridcontainer-grey-font-color;
	}
}