/* # Structure, Layout and Grid
---------------------------------------------------------------------------------------------------- */
.site-container{
	overflow: auto;
}
@supports (display: grid) {
	.site-container{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-areas:
			"before-header"
			"site-header"
			"featured-section"
			"nav-secondary"
			"breadcrumb"
			"site-inner"
			"footer-widgets"
			"site-footer"
			;
		.before-header{
			grid-area:before-header;
		}
		.site-header{
			grid-area:site-header;
		}
		.featured-section{
			grid-area: featured-section;
		}
		.nav-secondary{
			grid-area:nav-secondary;
		}
		.breadcrumb{
			grid-area:breadcrumb;
		}
		.site-inner{
			grid-area:site-inner;
		}
		.footer-widgets{
			grid-area:footer-widgets;
		}
		.site-footer{
			grid-area:site-footer;
		}
	}
}
/* ## Site Containers
---------------------------------------------------------------------- */

.site-inner,
.wrap {
	margin: 0 auto;
}

.site-inner{
	display: block;
	clear: both;
	margin: 30px auto;
	width:100%;
	overflow: auto;
}
.content-sidebar .site-inner,
.sidebar-content .site-inner,
.content-sidebar-sidebar .site-inner,
.sidebar-sidebar-content .site-inner,
.sidebar-content-sidebar .site-inner{
	width: 90%;
	.gridcontainer.white{
		.wrap,
		.row_headline{
			width: 100%;
		}
	}
}
.sidebar-primary{
	background-color:transparent;
}
.sidebar-secondary{
	background-color:transparent;
}

/* ### Site Containers Full-width
--------------------------------------------- */

.full-width-content .site-inner{
	margin: 0;
	float: left;
}

.full-width-content .site-inner .content .breadcrumb,
.full-width-content .site-inner .content .entry{
	width:90%;
	margin: 0px auto;
}
.full-width-content .site-inner .content .entry{
	margin-bottom: 0px;
}

/* ## Grid Containers
---------------------------------------------------------------------- */
.gridcontainer{
	@include grid-padding-values($g_grid_padding-structure);
	.row_headline{
		position: relative;
		width: 90%;
		margin: 0 auto;
    	padding: 10px 0 40px 15px;
		&::before,
		&::after{
			position: absolute;
			content: '';
			transform: scale3d(1, 1, 1);
			top: 5px;
			left: 0;
			background-color: $color-primary;
		}
		&::before{
			width: 6px;
			height: 12px;
		}
		&::after{
			width: 12px;
			height: 6px;
		}
	}
	.wrap{
		width: 90%;
    	margin: 0 auto;
		section{
			padding: 0;
			&.references{
				ul{
					display: flex;
					flex-wrap: wrap;
					margin: 0;
					li{
						display: block;
						width: 100%;
					}
				}
			}
		}
	}
	.column-button{
		margin-top: $margin-default+px;
	}
	.row-button-area{
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin: 80px 0 0 0;
	}
}
.gridcontainer{
	&.coll1{
		.row_headline,
		.wrap{
			@include max-width-values($g_max_width-coll1);
		}
		&.wide{
			@include grid-padding-values($g_grid_padding-wide);
			.row_headline,
			.wrap{
				@include max-width-values($g_max_width-wide);
			}
		}
	}
	&.coll2{
		.row_headline,
		.wrap{
			@include max-width-values($g_max_width-coll2);
		}
	}
	&.coll3{
		.row_headline,
		.wrap{
			@include max-width-values($g_max_width-coll3);
		}
	}
	&.coll4{
		.row_headline,
		.wrap{
			@include max-width-values($g_max_width-coll4);
		}
	}
}
.gridcontainer.non{
	padding: 0;
	.row_headline{
		display: none;
	}
	&.coll1 .wrap,
	&.coll2 .wrap,
	&.coll3 .wrap,
	&.coll4 .wrap,
	&.coll5 .wrap,
	&.coll6 .wrap{
		width: 100%;
		max-width: 100%;
		.wysiwyg{
			margin: 0 auto;
			padding: 30px 0;
			width: 90%;
			.entry-title{
				margin-bottom: 60px;
			}
		}
	}
}
.gridcontainer{
	.backimage{
		background-size: cover;
		background-position: 50% 50%;
		img{
			display: block;
			width: 100%;
			height: auto;
		}
	}
}
.gridcontainer{
	.gridimage{
		min-height: 100%;
		object-fit: cover;
	}
}

/* ### Grid Containers coloured backgrounds
--------------------------------------------- */
.gridcontainer.light{
	background-color: $g_gridcontainer-light;
	color: $g_gridcontainer-light-font-color;
	.row_headline{
		color: $g_gridcontainer-light-font-color;
	}
	&.non{
		.wrap{
			section.wysiwyg{
				padding: 0;
				background-color: transparent;;
			}
		}
	}
}

.gridcontainer.dark{
	background-color: shade($g_gridcontainer-dark, 40%);
	color: $g_gridcontainer-dark-font-color;
	h1,h2,h3,h4,h5,h6{
		color:$g_gridcontainer-dark-font-color;
	}
	.row_headline{
		color: $g_gridcontainer-dark-font-color;
		&::before,
		&::after{
			background-color: $g_gridcontainer-dark-font-color;
		}
	}
	&.non{
		.entry-title{
			color: tint($g_gridcontainer-dark-font-color, 100%);
		}
		.wrap{
			section.wysiwyg{
				padding: 0;
				background-color: transparent;;
			}
		}
	}
	.button{
		display: block;
		color: $g_gridcontainer-dark-font-color;
		border-left: 5px solid $color-active;
		box-shadow: inset 0 0 0 $color-active;
		&:hover{
			color: shade($g_gridcontainer-dark-font-color, 100%);
			border-left: 5px solid $g_gridcontainer-dark-font-color;
			box-shadow: inset 280px 0 0 $g_gridcontainer-dark-font-color;
		}
		&.button-primary{
			color: $g_gridcontainer-dark-font-color;
			border-left: 5px solid $g_gridcontainer-dark-font-color;
			box-shadow: inset 0 0 0 $g_gridcontainer-dark-font-color;
			&:hover{
				color: shade($g_gridcontainer-dark-font-color, 100%);
				box-shadow: inset 280px 0 0 $g_gridcontainer-dark-font-color;
			}
		}
		&.button-info{
			&:hover{
				
			}
		}
		&.button-alert{
			&:hover{
				
			}
		}
	}
	.row-button-area .button{
		color: $g_font-button-color;
		border-left: 0px solid $color-active;
		box-shadow: inset 0 0 0 $color-active;
		&:hover{
			color: $g_font-button-color-hover;
			border-left: 0px solid $g_gridcontainer-dark-font-color;
			box-shadow: inset 0 0 0 $g_gridcontainer-dark-font-color;
		}
	}
}

.gridcontainer.medium{
	background-color: $g_gridcontainer-medium;
	color:$g_gridcontainer-medium-font-color;
	h1,h2,h3,h4,h5,h6{
		color:$g_gridcontainer-medium-font-color;
	}
	.row_headline{
		color: $g_gridcontainer-medium-font-color;
		&::before,
		&::after{
			background-color: $g_gridcontainer-medium-font-color;
		}
	}
	&.non{
		.entry-title{
			color: tint($g_gridcontainer-medium-font-color, 100%);
		}
		.wrap{
			section.wysiwyg{
				padding: 0;
				background-color: transparent;;
			}
		}
	}
}