/* # Variables
---------------------------------------------------------------------------------------------------- */

/* ## Colours
---------------------------------------------------------------------- */

/* Black */
$color-black: #000B12; /* Black */
$color-black_rgb: rgba(0, 11, 18, 1); /* Black */

/* White */
$color-white: #ffffff;
$color-black_rgb: rgba(255, 255, 255, 1) ; /* White */

/* Primary */
$color-primary: #00395D; /* Colour */
$color-primary_rgb: rgba(0, 57, 93, 1) ; /* Colour */

/* Secondary */
$color-secondary: #EF405C; /* Colour */
$color-secondary_rgb: rgba(239, 64, 92, 1) ; /* Colour */

/* Active - Active/Focuced*/
$color-active: #52B9E9; /* Colour */
$color-active_rgb: rgba(82, 185, 233, 1) ; /* Colour */

/* Accent 1 - Succes */
$color-accent-one: #00D3A7; /* Colour */
$color-accent-one_rgb: rgba(0, 211, 167, 1) ; /* Colour */

/* Accent 2 - Warning */
$color-accent-two: #FFE46B; /* Colour */
$color-accent-two_rgb: rgba(255, 228, 107, 1) ; /* Colour */

/* Accent 3 - Error/Alert */
$color-accent-three: #EF405C; /* Colour */
$color-accent-three_rgb: rgba(239, 64, 92, 1) ; /* Colour */

/* ## Defaults Globals
---------------------------------------------------------------------- */
/* Global body values */
$g_body-background-color:$color-black;

/* ## Typography
---------------------------------------------------------------------- */

/* Global Font Faminly */
$font-bread: 'Oxygen', Helvetica, Arial, sans-serif;
$font-headlines: 'Oxygen', Helvetica, Arial, sans-serif;
$font-navigation: 'Oxygen', Helvetica, Arial, sans-serif;

/* Global Default values */
$g_font-bread-size: 1.6;
$g_font-bread-lineh: 2.6;
$g_font-bread-weight: 300;
$g_font-bread-color:$color-white;
$g_font-bread-a-color:$color-secondary;
$g_font-bread-a-hover-color:tint($color-secondary, 40%);

$g_font-mark-color:$color-white;
$g_font-mark-background-color:$color-secondary;

$g_font-h1-size: 3.2;
$g_font-h1-lineh: 3.2;
$g_font-h2-size: 2.8;
$g_font-h2-lineh: 2.8;
$g_font-h3-size: 2.6;
$g_font-h3-lineh: 2.6;
$g_font-h4-size: 2.4;
$g_font-h4-lineh: 2.4;
$g_font-h5-size: 2.2;
$g_font-h5-lineh: 2.2;
$g_font-h6-size: 1.8;
$g_font-h6-lineh: 1.8;
$g_font-h1-6-weight: 300;
$g_font-h1-6-color: $color-white;

$g_font-blockquote-size: 6;
$g_font-blockquote-lineh: 1;
$g_font-blockquote-weight: 300;
$g_font-blockquote-color:$color-white;

$g_font-input-size: 1.6;
$g_font-input-lineh: 2.6;
$g_font-input-weight: 300;
$g_font-input-color: $color-white;

$g_font-placeholder-size: 1.6;
$g_font-placeholder-lineh: 2.6;
$g_font-placeholder-weight: 300;
$g_font-placeholder-color: tint($color-black, 60%);

$g_font-label-size: 1.4;
$g_font-label-lineh: 2.4;
$g_font-label-weight: 400;
$g_font-label-color: $color-white;

$g_font-button-size: 1.8;
$g_font-button-lineh: 1.8;
$g_font-button-weight: 400;
$g_font-button-color: $color-white;
$g_font-button-background-color: $color-primary;
$g_font-button-color-hover: $color-white;
$g_font-button-background-color-hover: tint($color-primary, 20%);
$g_font-button-box-shadow-hover:0px 5px 3px 0px rgba(14, 28, 45, 0.25);

/* Global Common Classes values */
$g_font-breadcrumb-size: 1.4;
$g_font-breadcrumb-lineh: 2.4;
$g_font-breadcrumb-weight: 300;
$g_font-breadcrumb-color: $color-white;

$g_font-author-box-title-size: 1.6;
$g_font-author-box-title-lineh: 2.6;
$g_font-author-box-title-6-weight: 300;

$g_font-archive-title-size: 3.8;
$g_font-archive-title-lineh: 3.8;
$g_font-archive-title-6-weight: 400;

$g_font-entry-title-size: 3.8;
$g_font-entry-title-lineh: 3.8;
$g_font-entry-title-6-weight: 300;

$g_font-widget-title-size: 2.6;
$g_font-widget-title-lineh: 2.6;
$g_font-widget-title-6-weight: 300;

$g_font-caption-size: 1.4;
$g_font-caption-lineh: 2.6;
$g_font-caption-weight: 300;

/* Global Title Area values */
$g_font-site-title-size: 3.8;
$g_font-site-title-lineh: 3.8;
$g_font-site-title-6-weight: 300;

/* Global Before Header Font values */
$g_font-before-header-size: 1;
$g_font-before-header-lineh: 1;
$g_font-before-header-6-weight: 300;

/* Global Site Navigation values */
$g_font-nav-size: 1.2;
$g_font-nav-lineh: 1.2;
$g_font-nav-weight: 700;

/* Global Entry Meta values */
$g_font-meta-size:1.4;
$g_font-meta-lineh:2.2;
$g_font-meta-weight:300;

/* Global Pagination values */
$g_font-pagination-size:1.6;
$g_font-pagination-lineh:2.4;
$g_font-pagination-weight:300;

/* Global Comments values */
$g_font-logged-in-size:1.4;
$g_font-logged-in-lineh:2.2;
$g_font-logged-in-weight:300;
$g_font-comment-header-size:1.6;
$g_font-comment-header-lineh:2.4;
$g_font-comment-header-weight:300;

/* Global Footer Widgets values */
$g_font-footer-widgets-size:1.4;
$g_font-footer-widgets-lineh:2;
$g_font-footer-widgets-weight:300;

/* Global Site Footer values */
$g_font-site-footer-size:1.0;
$g_font-site-footer-lineh:1.2;
$g_font-site-footer-weight:300;

/* ## Border Radius
---------------------------------------------------------------------- */
/* Globals */
$radius: 5;

/* ## Colored Gridcontainer
---------------------------------------------------------------------- */
$g_gridcontainer-black: tint($color-black, 10%);
$g_gridcontainer-black-font-color: tint($color-black, 80%);
$g_gridcontainer-grey:$color-secondary;
$g_gridcontainer-grey-font-color: $color-white;

/* ## Media Queries
---------------------------------------------------------------------- */
$mq-small: 55.625em; /* 890 pixel */
$mq-nav:63.938em; /* 1023 pixel */
$mq-medium: 64em; /* 1024 pixel */
$mq-large: 80em; /* 1280 pixel */
$mq-large: 80em; /* 1280 pixel */
$mq-xlarge: 93.75em; /* 1500 pixel */


/* ## Site Structure
---------------------------------------------------------------------- */

/* Full width content target
--------------------------------------------- */
$target-default: 320;
$target-small: 800;
$target-medium: 920;
$target-large: 1200;
$target-xlarge: 1400;

/* Margins */
$margin-zero: 0;
$margin-default: 30;
$margin-small: 30;
$margin-medium: 30;
$margin-large: 30;
$margin-xlarge: 40;

/* Content Sidebar, Sidebar Content
 - Primarily for Grid fallback
--------------------------------------------- */
/* Content */
$content-cs-medium: 593;
$content-cs-large: 780;
$content-cs-xlarge: 907;

/* Primary Sidebar */
$sidebar-p-cs-medium: 297;
$sidebar-p-cs-large: 390;
$sidebar-p-cs-xlarge: 453;

/* Sidebar Sidebar, Sidebar Sidebar Content
 - Primarily for Grid fallback
--------------------------------------------- */

/* Content Wrap */
$contentwrap-css-medium: 742;
$contentwrap-css-large: 975;
$contentwrap-css-xlarge: 1133;

/* Content */
$content-css-medium: 534;
$content-css-large: 709;
$content-css-xlarge: 820;

/* Primary Sidebar */
$sidebar-p-css-medium: 178;
$sidebar-p-css-large: 236;
$sidebar-p-css-xlarge: 273;

/* Secondary Sidebar */
$sidebar-s-css-medium: 148;
$sidebar-s-css-large: 195;
$sidebar-s-css-xlarge: 227;