/* # Variables
---------------------------------------------------------------------------------------------------- */

/* ## Colours
---------------------------------------------------------------------- */

/* Black */
$color-black: #000B12; /* Black */
$color-black_rgb: rgba(0, 11, 18, 1); /* Black */

/* White */
$color-white: #fdfeff;
$color-black_rgb: rgba(253, 254, 255, 1) ; /* White */

/* Primary */
$color-primary: #00395D; /* Colour */
$color-primary_rgb: rgba(0, 57, 93, 1) ; /* Colour */

/* Secondary */
$color-secondary: #EF405C; /* Colour */
$color-secondary_rgb: rgba(239, 64, 92, 1) ; /* Colour */

/* Active - Active/Focuced*/
$color-active: #52b9e9; /* Colour */
$color-active_rgb: rgba(82, 185, 233, 1) ; /* Colour */

/* Accent 1 - Succes */
$color-accent-one: #75c7ed; /* Colour */
$color-accent-one_rgb: rgba(117, 199, 237, 1) ; /* Colour */

/* Accent 2 - Warning */
$color-accent-two: #f2e95b; /* Colour */
$color-accent-two_rgb: rgba(242, 233, 91, 1) ; /* Colour */

/* Accent 3 - Error/Alert */
$color-accent-three: #bf334a; /* Colour */
$color-accent-three_rgb: rgba(191, 51, 74, 1) ; /* Colour */

/* ## Defaults Globals
---------------------------------------------------------------------- */
/* Global body values */
$g_body-background-color:$color-white;

/* ## Typography
---------------------------------------------------------------------- */

@font-face {
    font-family: 'Branding-Thin';
    src: url('fonts/Branding-Thin.eot'); /* IE9 Compat Modes */
    src: url('fonts/Branding-Thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Branding-Thin.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/Branding-Thin.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Branding-Thin.svg#svgFontName') format('svg'); /* Legacy iOS */
         font-weight: 100;
         font-style: normal;
}

@font-face {
    font-family: 'Branding-Semilight';
    src: url('fonts/Branding-Semilight.eot'); /* IE9 Compat Modes */
    src: url('fonts/Branding-Semilight.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Branding-Semilight.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/Branding-Semilight.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Branding-Semilight.svg#svgFontName') format('svg'); /* Legacy iOS */
         font-weight: 300;
         font-style: normal;
}
@font-face {
    font-family: 'Branding-SemilightItalic';
    src: url('fonts/Branding-SemilightItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Branding-SemilightItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Branding-SemilightItalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/Branding-SemilightItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Branding-SemilightItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
         font-weight: 300;
         font-style: italic;
}
@font-face {
    font-family: 'Branding-Semibold';
    src: url('fonts/Branding-Semibold.eot'); /* IE9 Compat Modes */
    src: url('fonts/Branding-Semibold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Branding-Semibold.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/Branding-Semibold.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Branding-Semibold.svg#svgFontName') format('svg'); /* Legacy iOS */
         font-weight: 500;
         font-style: normal;
}
@font-face {
    font-family: 'Branding-SemiboldItalic';
    src: url('fonts/Branding-SemiboldItalic.eot'); /* IE9 Compat Modes */
    src: url('fonts/Branding-SemiboldItalic.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Branding-SemiboldItalic.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/Branding-SemiboldItalic.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Branding-SemiboldItalic.svg#svgFontName') format('svg'); /* Legacy iOS */
         font-weight: 500;
         font-style: italic;
}
@font-face {
    font-family: 'Branding-Black';
    src: url('fonts/Branding-Black.eot'); /* IE9 Compat Modes */
    src: url('fonts/Branding-Black.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('fonts/Branding-Black.woff') format('woff'), /* Pretty Modern Browsers */
         url('fonts/Branding-Black.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('fonts/Branding-Black.svg#svgFontName') format('svg'); /* Legacy iOS */
         font-weight: 900;
         font-style: normal;
}

/* Global Font Faminly */
$font-bread: 'Branding-Semilight', Helvetica, Arial, sans-serif;
$font-bold: 'Branding-Semibold', Helvetica, Arial, sans-serif;
$font-headlines: 'Branding-Thin', Helvetica, Arial, sans-serif;
$font-hero: 'Branding-Thin', Helvetica, Arial, sans-serif;
$font-navigation: 'Branding-Semibold', Helvetica, Arial, sans-serif;

/*** Global Default values ***/

/* Default body text */
$g_font-bread-a-color:$color-secondary;
$g_font-bread-a-hover-color:tint($color-secondary, 40%);

/* Mark */
$g_font-mark-color:$color-white;
$g_font-mark-background-color:$color-secondary;

/* Button */
$g_font-button_radius: 5;

$g_font-button-background-color: $color-active;
$g_font-button-color: $color-white;
$g_font-button-color-hover: $color-white;
$g_font-button-background-color-hover: tint($color-active, 20%);
$g_font-button-box-shadow-hover:0px 5px 3px 0px rgba(14, 28, 45, 0.25);

$g_font-button-disabled-background-color: tint($color-black, 80%);
$g_font-button-disabled-color: $color-white;
$g_font-button-disabled-color-hover: $color-white;
$g_font-button-disabled-background-color-hover: tint($color-black, 80%);
$g_font-button-disabled-box-shadow-hover:0px 0px 0px 0px rgba(14, 28, 45, 0);

$g_font-button-primary-background-color: $color-primary;
$g_font-button-primary-color: $color-white;
$g_font-button-primary-color-hover: $color-white;
$g_font-button-primary-background-color-hover: tint($color-primary, 20%);
$g_font-button-primary-box-shadow-hover:0px 5px 3px 0px rgba(14, 28, 45, 0.25);

$g_font-button-info-background-color: $color-black;
$g_font-button-info-color: $color-white;
$g_font-button-info-color-hover: $color-white;
$g_font-button-info-background-color-hover: tint($color-black, 20%);
$g_font-button-info-box-shadow-hover:0px 5px 3px 0px rgba(14, 28, 45, 0.25);

$g_font-button-alert-background-color: $color-accent-three;
$g_font-button-alert-color: $color-white;
$g_font-button-alert-color-hover: $color-white;
$g_font-button-alert-background-color-hover: tint($color-accent-three, 20%);
$g_font-button-alert-box-shadow-hover:0px 5px 3px 0px rgba(14, 28, 45, 0.25);

/* ## Border Radius
---------------------------------------------------------------------- */
/* Globals */
$radius: 5;

/* ## Colored Gridcontainer
---------------------------------------------------------------------- */
$g_gridcontainer-light:shade($color-white, 10%);
$g_gridcontainer-light-font-color: $color-black;
$g_gridcontainer-medium:$color-secondary;
$g_gridcontainer-medium-font-color: $color-white;
$g_gridcontainer-dark: tint($color-black, 10%);
$g_gridcontainer-dark-font-color: tint($color-black, 80%);

/* ## Media Queries
---------------------------------------------------------------------- */
$mq-xsmall: 37.5em; /* 600 pixel */
$mq-small: 48em; /* 768 pixel */
$mq-nav:63.938em; /* 1023 pixel */
$mq-medium: 64em; /* 1024 pixel */
$mq-large: 80em; /* 1280 pixel */
$mq-xlarge: 93.75em; /* 1500 pixel */


/* ## Site Structure
---------------------------------------------------------------------- */

/* Full width content target
--------------------------------------------- */
$target-default: 320;
$target-small: 800;
$target-medium: 920;
$target-large: 1200;
$target-xlarge: 1400;

/* Margins */
$margin-zero: 0;
$margin-default: 30;
$margin-small: 30;
$margin-medium: 30;
$margin-large: 30;
$margin-xlarge: 40;

/* Content Sidebar, Sidebar Content
 - Primarily for Grid fallback
--------------------------------------------- */
/* Content */
$content-cs-medium: 593;
$content-cs-large: 780;
$content-cs-xlarge: 907;

/* Primary Sidebar */
$sidebar-p-cs-medium: 297;
$sidebar-p-cs-large: 390;
$sidebar-p-cs-xlarge: 453;

/* Sidebar Sidebar, Sidebar Sidebar Content
 - Primarily for Grid fallback
--------------------------------------------- */

/* Content Wrap */
$contentwrap-css-medium: 742;
$contentwrap-css-large: 975;
$contentwrap-css-xlarge: 1133;

/* Content */
$content-css-medium: 534;
$content-css-large: 709;
$content-css-xlarge: 820;

/* Primary Sidebar */
$sidebar-p-css-medium: 178;
$sidebar-p-css-large: 236;
$sidebar-p-css-xlarge: 273;

/* Secondary Sidebar */
$sidebar-s-css-medium: 148;
$sidebar-s-css-large: 195;
$sidebar-s-css-xlarge: 227;