@supports (display: grid) {
	
/* # Flexible Grids
------------------------------------------------------------------------------------------ */

/* ## Grid Containers
--------------------------------------------- */

.gridcontainer.coll1{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll2{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll3{
	.wrap{
		grid-template-columns:1fr;
	}
}
.gridcontainer.coll4{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
.gridcontainer.coll5{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
.gridcontainer.coll6{
	.wrap{
		grid-template-columns:repeat(2, 1fr);
	}
}
	
}